@keyframes fly_horizontal 
{
    0% { left: 0;}
    50%{ left : 50%;}
    100%{ left: 0;}
}

@keyframes fly_vertical
{
    0%   {bottom: 0;}
    100% {bottom: 100%;}
}

@keyframes shake 
{
    10%, 90%{transform: translate3d(-1px, 0, 0);}
    20%, 80%{transform: translate3d(35px, 0, 0);}
    30%, 50%, 70% {transform: translate3d(-4px, 0, 0);}
}

@keyframes rotate 
{
    100% {transform: rotate(360deg);}
}

@keyframes pulse {
	0% {transform: scale(0.5);}
	50% {transform: scale(3);}
	100% {transform: scale(0.7);}
}
