
text/css aqua.css ( ASCII text )

body{
    background-image: url("img/deepwater.gif");
}

#alien 
{
    cursor: url("img/hand.png"), auto;
    position: absolute;
    bottom:5%;
    left: 5%;
    width: 220px;
    height: 220px;
    background-image: url("img/alien_pirategun.gif");
    background-repeat: no-repeat;
    z-index:60;
    animation: shake 13.82s cubic-bezier(.36,.07,.19,.97) both;
    animation-iteration-count: infinite;
    transition: transform .9s;
}

#alien_s 
{
    position: absolute;
    bottom:5%;
    left: 5%;
    width: 100px;
    height: 100px;
    background-image: url("img/alien_s.gif");
    background-repeat: no-repeat;
    z-index:60;
    animation: shake 23.82s cubic-bezier(.36,.07,.19,.97) both;
    animation-iteration-count: infinite;
    transition: transform .9s;
}

#monster 
{

    position: absolute;
    bottom:5%;
    right:10%;
    width: 500px;
    height: 405px;
    background-image: url("img/monster2.gif");
    background-repeat: no-repeat;
    cursor: url("img/aim.png"), auto;
    animation: shake 5.82s cubic-bezier(.36,.07,.19,.97) both;
    animation-iteration-count: infinite;
    transition: transform .9s;
}

