/* #################################### main #################################### */

body
{
    font-family: 'Roboto', sans-serif;
    background-image: url("img/star.gif");
}
  
#main
{
    width:100%;
}

#red
{
    color:red;
    font-weight: bold;
}

a
{
    font-size: 0.7em;   
    text-decoration: none;
}

#floor
{
    background-image: url("img/floor.png");  
    background-repeat: no-repeat;
    background-size:100%;
    position:absolute;
    bottom:0;
    width: 100%;
    height: 250px;
    left:0;
    z-index: 55;
 }
 
 i
 {
    color:blue;
 }
 
#score
{
    padding-top: 10px;
    padding-left: 5px;
    right:10%;
    border: 5px solid white;
    border-radius: 10px;
    text-align:left;
    font-size: 2em;
    color: white;
    background-color: green;
    position:absolute;
    top:5%;
    width: 170px;
    height: 50px;
    right:0;
    z-index: 55;
 }
  
/* #################################### Menu #################################### */

#menu
{
    width: 70px;
    position: absolute;
    left:10px;
    bottom: 90px;
    background-color: lightblue;
    z-index:9999;
    display: none;
    border: 3px solid black;
    border-radius: 20px;
    vertical-align: middle;
    text-align:center;
}

#menu_box
{
    width: 70px;
    height:70px;
    vertical-align: middle;
    text-align:center;
    margin-top:5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    transition: transform .2s;
}

#menu_box:hover 
{
  transform: scale(1.3);
}

#question 
{
    width:70px;
    height:70px;
    position: fixed;
    bottom:10px;
    left:13px;
    background-image: url("img/question.png");
    background-repeat: no-repeat;
    z-index:999;
    transition: transform .2s;
}
  
#question:hover 
{
    background-image: url("img/question_over.png");
    transform: scale(1.3);
}

/* #################################### ufo #################################### */
#ufo 
{
    position: absolute;
    top:10%;
    width: 400px;
    height: 210px;
    background-image: url("img/ufo.gif");
    background-repeat: no-repeat;
    cursor: url("img/aim.png"), auto;
    animation:linear infinite alternate;
    animation-name: fly_horizontal;
    animation-duration: 50s;
}

/* #################################### rocket #################################### */

#rocket 
{
    animation:linear;
    animation-name: fly_vertical;
    animation-duration: 160s;
    backface-visibility: hidden;
    animation-iteration-count: infinite;
    position:absolute;
    bottom:10%;
    left:5%;
    background-image: url("img/rocket.gif");
    background-repeat: no-repeat;
    width: 165px;
    height: 380px;
    vertical-align: center;
    z-index:2;
    display:block;
    cursor: url("img/aim.png"), auto;	
}

/* #################################### friend #################################### */

.centrumF 
{
	height: 6px;
	right: 60%;
	position: absolute;
	top: 10%;
	width: 150px;
	animation: fly_horizontal 50s ease-in-out 0s infinite;
}

.moveYY 
{
	height: 500px;
	position: absolute;
	top: 100px;
	width: 150px;
	animation: rotate 46s linear 0s infinite;
}

#friend 
{
	left: 0px;
	position: absolute;
    background-image: url("img/corona.png");
    background-repeat: no-repeat;
    width: 170px;
    height: 180px;
    cursor: url("img/aim.png"), auto;
}

/* #################################### bong #################################### */

.centrum 
{
	height: 6px;
	left: 0px;
	position: absolute;
	top: 50%;
	width: 150px;
	animation: fly_horizontal 80s ease-in-out 0s infinite;
}

.moveY 
{
	height: 50px;
	position: absolute;
	top: 50%;
	width: 150px;
	animation: rotate 26s linear 0s infinite;
}

#bong 
{
	left: 0px;
	position: absolute;
    background-image: url("img/bong.png");
    background-repeat: no-repeat;
    width: 165px;
    height: 380px;
    cursor: url("img/aim.png"), auto;
}

/* #################################### meteors #################################### */

#meteor 
{
    position: absolute;
    top:0%;
    right: 10%;
    width: 220px;
    height: 230px;
    background-image: url("img/meteor.gif");
    background-repeat: no-repeat;
    animation: shake1 13.82s cubic-bezier(.36,.07,.19,.97) both;
    animation-iteration-count: infinite;
    transition: transform .2s;
}

#meteor2 
{
    position: absolute;
    top:30%;
    right: 70%;
    width: 150px;
    height: 150px;
    background-image: url("img/meteor_m.gif");
    background-repeat: no-repeat;
}

#meteor3 
{
    position: absolute;
    top:60%;
    right: 40%;
    width: 320px;
    height: 330px;
    background-image: url("img/meteor_xl.gif");
    background-repeat: no-repeat;
}

/* #################################### planet #################################### */

#planet 
{
    position: fixed;
    top:-80px;
    left:-250px;
    width: 1000px;
    height: 1000px;
    background-image: url("img/earth1.gif");
    background-repeat: no-repeat;
    animation: rotate 360s infinite;
    z-index:0;
}

/* #################################### boss1 #################################### */

#boss1 
{
    cursor: url("img/hand.png"), auto;
    position: fixed;
    top:50px;
    left:150px;
    width: 500px;
    height: 530px;
    background-image: url("img/boss1.gif");
    background-repeat: no-repeat;
    z-index:99;
    display: none;
}

/* #################################### aliens #################################### */

#alien 
{
    cursor: url("img/hand.png"), auto;
    position: absolute;
    bottom:5%;
    right: 5%;
    width: 220px;
    height: 220px;
    background-image: url("img/alien.gif");
    background-repeat: no-repeat;
    z-index:60;
    animation: shake 13.82s cubic-bezier(.36,.07,.19,.97) both;
    animation-iteration-count: infinite;
    transition: transform .9s;
}

#alien_s 
{
    position: absolute;
    bottom:5%;
    right: 5%;
    width: 100px;
    height: 100px;
    background-image: url("img/alien_s.gif");
    background-repeat: no-repeat;
    z-index:60;
    animation: shake 23.82s cubic-bezier(.36,.07,.19,.97) both;
    animation-iteration-count: infinite;
    transition: transform .9s;
}

/* #################################### bubble #################################### */

#bubble {
    text-align:center;
    top:200px;
    right:5%;
    width:30%;
    position:absolute;
    padding: 1em; border: 8px solid #3FFF7F;
    margin:0 auto;
    border-radius: 22px;
    background: #fff;
    float:left;
}

#bubble_box 
{
    font-size: 1.4em;
}

#avatar 
{
    text-align:center;
    margin:auto;
}

middle
{
    padding:auto;    
}

/* #################################################################################### */
/* #################################### responisve #################################### */
/* #################################################################################### */

@media only screen and (max-width:1024px) 
{
	#bubble 
	{
	    width:80%;
	    top:0;
        margin:auto;
        display: block;
        font-size:12px;
	}
	
	#alien 
	{
	    display:block;
	    left:0;
	    top:300px;
    }
	
	#meteor, #meteor2, #meteor3, #floor, #ufo, #planet, #rocket, #alien_s, #bong
	{
	    display:none;
	}
}

/* #################################################################################### */
/* #################################### animation ##################################### */
/* #################################################################################### */

@keyframes fly_horizontal 
{
    0% { left: 0;}
    50%{ left : 50%;}
    100%{ left: 0;}
}

@keyframes fly_vertical
{
    0%   {bottom: 0;}
    25%  {bottom: 25%;}
    50%  {bottom: 50%;}
    75%  {bottom: 75%;}
    100% {bottom: 100%;}
}

@keyframes shake 
{
    10%, 90%{transform: translate3d(-1px, 0, 0);}
    20%, 80%{transform: translate3d(35px, 0, 0);}
    30%, 50%, 70% {transform: translate3d(-4px, 0, 0);}
}

@keyframes rotate 
{
    100% {transform: rotate(360deg);}
}
