.rocket {
      -webkit-animation:linear;
      -webkit-animation-name: fly;
      -webkit-animation-duration: 160s;
      backface-visibility: hidden;
      animation-iteration-count: infinite;
      position:absolute;
      bottom:10%;
      left:5%;
      background-image: url("rocket.gif");
      background-repeat: no-repeat;
      width: 200px;
      height: 380px;
      vertical-align: center;
      z-index:2;
}

  @-webkit-keyframes fly {
      0%   {bottom: 0%;}
      25%  {bottom: 25%;}
      50%  {bottom: 50%;}
      75%  {bottom: 75%;}
      100% {bottom: 100%;}
  }
